html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cc-widget-div
{
  border: 2px solid #303030;
}

.cc-notif-div
{
  border-left: 2px solid #bbb;
}
.cc-notif-action-span
{
  border-right: 2px solid #bbb;
  margin-right: 5px;
  padding-right: 5px;
  cursor:pointer;
}
.cc-notif-action-span:hover
{
  color:blue;
}
